*{
  box-sizing: border-box;
}
.app{
  font-size: larger;
}
.heading h1
{
  font-weight: bolder;
}
.btn{
  width: 80%;
  margin: 0 auto;
  display: block;
  background-color:purple;
  color: antiquewhite;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: larger;
  font-weight: bold;
  border: none;
}
.searchbar input{
  width: 100%;
  padding: 5px;
  border: none;
  
}
.searchbar{
  width: 80%;
  margin: 2% auto;
  display:block;
  display: flex;
  align-items: center;
  border: 1px solid rgb(70, 69, 69);
  padding: 2px;
  
}
.formts{
  width: 80%;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  border: 0.5px solid #6b6969;
  padding-top: 2%;
}
.trans{
  width: max-content;
  margin: 0% auto;
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: larger;
  border-radius: 10%;
  background-color: purple;
  color: antiquewhite;
  border: none;
}
.inputs > * {
  width: 18%;
}
.inputs{
  border: solid 1px;
  display: flex;
  justify-content: space-around;
  border: none;
}
.table{
 
  
 

}
.table table{
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: solid 1px; 
}