*{
  box-sizing: border-box;
}
.app{
  font-size: larger;
}
.heading h1
{
  font-weight: bolder;
}
.btn{
  width: 80%;
  margin: 0 auto;
  display: block;
  background-color:purple;
  color: antiquewhite;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: larger;
  font-weight: bold;
  border: none;
}
.searchbar input{
  width: 100%;
  
  padding-top: 1%;
  
}
.searchbar{
  width: 80%;
  margin: 2% auto;
  display:block;
  
}